#flash-container {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    background-color: transparent;
}

.flash-msg {
    width: 40%;
    padding: 10px;
    margin: 20px auto 0 auto;
    border-radius: 5px;
    text-align: center;
    transition: opacity 2s ease-in;
}

.error-msg {
    --background: rgb(250, 118, 118);
    background-color: var(--background);
    border: 1px solid var(--background);
    color: rgb(126, 1, 1);
}

.success-msg {
    --background: rgb(120, 241, 146);
    background-color: var(--background);
    border: 1px solid var(--background);
    color: green;
}

.transparent {
    opacity: 0;
}